<div class="container">
        
    <form>
        <label>Title</label>
        <input type="text"></input>
        
        <label>Author</label>
        <input type="text"></input>
        
        <button onClick="create">Add article</button>
    </form>
</div>